@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-grey-500: hsl(234, 12%, 34%);
  --neutral-grey-400: hsl(212, 6%, 44%);
  --neutral-white: hsl(0, 0%, 100%);
}

html {
  font-family: "Poppins", Georgia, sans-serif;
  font-size: 15px;
}

#main {
  width: 100vw;
  /* height: 100vh; */
  padding: 2rem 1.5rem;
}

/* body {
  padding: 2rem 1.5rem;
  width: 100vw;
  height: 100vh;
} */

.header {
  text-align: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 530px;
}

h1 {
  font-size: 1.6rem;
}

.header h1:first-of-type {
  font-weight: 200;
  color: var(--neutral-grey-400);
}

h1:last-of-type {
  color: var(--neutral-grey-500);
}

.header p {
  padding-top: 0.85rem;
  padding-bottom: 1.45rem;
}

h2 {
  color: var(--neutral-grey-500);
}

p {
  color: var(--neutral-grey-400);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  width: 95%;
  max-width: 23rem;
  height: 18rem;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px 3px hsla(212, 6%, 44%, 0.15);
  border-radius: 0.4rem;
  position: relative;
}

.card:first-of-type {
  border-top: 4.5px solid var(--primary-cyan);
}

.card:nth-of-type(2) {
  border-top: 4.5px solid var(--primary-red);
}

.card:nth-of-type(3) {
  border-top: 4.5px solid var(--primary-orange);
}

.card:last-of-type {
  border-top: 4.5px solid var(--primary-blue);
}

.card p {
  font-size: 0.85rem;
}

img {
  position: absolute;
  bottom: 3.2rem;
  right: 2rem;
}

.attribution {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  .header {
    margin-bottom: 1rem;
  }

  #cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 0rem;
    max-width: 75rem;
    margin: 0 auto;
  }

  .card:first-of-type,
  .card:last-of-type {
    grid-row: span 2;
    place-self: center;
  }
}
